.application-form {
    max-width: 600px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .application-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-weight:900;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
  }
  
  textarea {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  .submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 1.2rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }